<footer class="footer" data-background-color="black">
  <div class="container">
    <nav>
      <ul>
      {{ range where (where .Site.Menus.footer "Identifier" "!=" "onionv3") "Identifier" "!=" "onionv2" }}
        <li>
          <a href="{{ .URL }}" target="_blank">{{ .Pre }} {{ .Name }}</a>
        </li>
      {{ end }}
      {{ range where .Site.Menus.footer "Identifier" "in" (slice "onionv3" "onionv2") }}
        <li>
          <a href="{{ .URL }}">{{ .Pre }} {{ .Title }}</a>
        </li>
      {{ end }}
      </ul>
    </nav>
  </div>
</footer>
