/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("../fonts/fontcustom_f44f92f1a12df5975f1be96a627808a1.eot");
  src: url("../fonts/fontcustom_f44f92f1a12df5975f1be96a627808a1.eot?#iefix") format("embedded-opentype"),
       url("../fonts/fontcustom_f44f92f1a12df5975f1be96a627808a1.woff2") format("woff2"),
       url("../fonts/fontcustom_f44f92f1a12df5975f1be96a627808a1.woff") format("woff"),
       url("../fonts/fontcustom_f44f92f1a12df5975f1be96a627808a1.ttf") format("truetype"),
       url("../fonts/fontcustom_f44f92f1a12df5975f1be96a627808a1.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("../fonts/fontcustom_f44f92f1a12df5975f1be96a627808a1.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-key:before,
.icon-mastodon:before,
.icon-oftc:before,
.icon-riot:before,
.icon-tor:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-key:before { content: "\f100"; }
.icon-mastodon:before { content: "\f101"; }
.icon-oftc:before { content: "\f102"; }
.icon-riot:before { content: "\f103"; }
.icon-tor:before { content: "\f104"; }
