{{ define "title" }}
<div class="container">
  <div class="content-center">
    <div class="text-center">
      {{with .Params.description }} {{ . | safeHTML }} {{ end }}
    </div>
  </div>
</div>
{{ end }}

{{ define "body" }}
<div class="row">
  <div class="col-md-8 ml-auto mr-auto text-left">
  {{ .Content }}
  </div>
</div>
{{ end }}
