{{ define "title" }}
<div class="container">
  <div class="content-center">
    <div class="text-center">
      {{with .Params.description }} {{ . | safeHTML }} {{ end }}
    </div>
  </div>
</div>
{{ end }}

{{ define "body" }}
<div class="row">
  <div class="col-md-8 ml-auto mr-auto text-left">
  {{ .Content }}
  </div>
  <div class="col-md-8 ml-auto mr-auto text-left">
   <ul class="list-unstyled">
     {{ range where (where .Site.Menus.footer "Identifier" "!=" "onionv3") "Identifier" "!=" "onionv2" }}
     <li>
       <a href="{{ .URL | }}" target="_blank">{{ .Pre }} {{ .Title }}</a>
     </li>
     {{ end }}
   <br>
</div>
{{ end }}
