{{ define "title" }}
<div class="container">
  <div class="content-center">
    <div class="text-center">
      {{with .Params.description }} {{ . | safeHTML }} {{ end }}
    </div>
  </div>
</div>
{{ end }}

{{ define "body" }}
<div class="row">
  <div class="col-md-8 ml-auto mr-auto text-left">
  {{ if eq .Type "post" }}
    <h2>{{ .Title }}</h2>
    {{ .Date.Format .Site.Params.DateForm }}<br>
    {{ .Params.Author }}
    {{ if .IsTranslated }}
    <h4>Translation(s):</h4>
    <ul>
      {{ range .Translations }}
      <li>
        <a href="{{ .RelPermalink }}">{{ if eq .Lang "en" }}English{{ else if eq .Lang "es" }}Spanish{{ end }}: {{ .Title }}</a> </li>
      {{ end }}
    </ul>
    {{ end }}
    <hr><br>
  {{ end }}
  {{ .Content }}
  </div>
</div>
{{ end }}
